body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(252, 248, 45);
  text-align: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px black;
  padding: 40px 60px;
}

div button {
  height: 35px;
  width: 100px;
  font-size: 15px;
  font-weight: 700;
  background-color: #f8c726;
  border: 1px solid black;
  border-radius: 10px;
}
